Game Player Options
<div>
	<!--{% verbatim %}-->
	<div class = 'titles-box'>
		<!-- span class = 'titles' ng-class="{ 'redText' : optionsCtrl.gameStatus.bunk }">
			<span ng-hide="optionsCtrl.gameStatus.numPlayers===1 || optionsCtrl.gameStatus.gameOver">
				Player {{optionsCtrl.gameStatus.activePlayer+1}}: 
			</span>{{optionsCtrl.messageText.info}}
		</span-->
	</div>
	<!--{% endverbatim %}-->
	<div class = 'playeroptions outset'>
		<button class = 'buttons inset activeButtonHighlight'>
			Solo Play
		</button>
		<button class = 'buttons inset activeButtonHighlight'>
			Two Players
		</button>
		<button class = 'buttons inset'>
			Roll
		</button>
		<button class = 'buttons inset bunkButtonHighlight'>
			Clear Bunk
		</button>
		<!--a href='{{ url('homepage') }}'><button class = 'buttons inset activeButtonHighlight' ng-show="optionsCtrl.gameStatus.gameOver">
			Reset
		</button></a-->
	</div>
</div>